---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to <br />  
				Layer by Layer</h1>
			<p>
    		画面に向き合う時間、本を開く時間、ただ生活する時間。<br />
    		日々のインプットとアウトプットを淡々と記録するライフログです。
			</p>
			<h2>About Me</h2>
			<p>
				情報工学を学ぶ大学院生です。主にAI技術やコンピュータビジョン（Computer Vision; CV）に関心を持っています。<br />
				このブログでは、開発の備忘録や研究の試行錯誤、日々の読書記録、そして何気ない日常の雑感を気ままにつづっていきます。
			</p>
		</main>
		<Footer />
	</body>
</html>
